@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    min-height: 100vh;
    min-width: 100vw;
}
#cartaPrincipal{
    height: 500px;
    width: 350px;
    border-radius: 5%;
}
#firts_Icon{
    color: black;
    font-size: 90px;
    margin-left: 8px;
}
#Second_Icon{
    color: black;
    font-size: 90px;
    transform: rotate(180deg);
    margin-right: 8px;
    
}
#number{
    font-size: 153px;
}
#generador-de-cartas{
    height: 280px;
    width: 280px;
    border-radius: 7%;
}
#Titulo-Principal{
    text-shadow: -3px -1px 7px rgba(0,0,0,0.6);
    box-shadow: 1px 9px 35px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 9px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 9px 35px 0px rgba(0,0,0,0.75);
    background-color: red;
}

#Parte-Baja{
    text-shadow: -3px -1px 7px rgba(0,0,0,0.6);
    box-shadow: 1px 9px 35px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 9px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 9px 35px 0px rgba(0,0,0,0.75);
    background-color: red;
}
#Barajas{
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;

}

